//Color Schemes
$blue-charcoal:#001417;
$bean-red:#EF6461;
$morning-glory:#92DCE5;
$gray:#858585;
$white: #FFFFFF;

// Typography
//Font Families
$inter: 'Inter', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Typography
// Font Weight
$font-light: 100;
$font-thin: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

// Typography
// Font Sizes
$xxxx-large: 4.375rem;
$xxx-large: 3.125rem;
$xx-large: 1.875rem;
$x-large: 1.25rem;
$large: 1.125rem;
$medium: 1rem;
$small: .875rem;
$x-small: .75rem;