.header__user-container{
    display: flex;
    align-items: center;
    justify-content: center;
    .header__profile-container{
        display: flex;
        align-items: center;
        .header__profile-text-container{
            cursor: pointer;
            .header__profile-name{
                font-size: $x-large;
                font-weight: $font-black;
            }
        }
    }
}